@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
  }
}

/* Light mode (default) */
:root {
  --background-image: url('/img/background_light.png');
}

/* Dark mode using Tailwind's class-based strategy */
.dark {
  --background-image: url('/img/background.png');
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
